{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extra_html_head %}
<title> 
	Handla valuta: kom igång och trada med valuta | Tradecfd.se
 </title>
<meta name="description" content="Hur handlar man med valuta? Valutahandel, även kallad Forextrading,
är de flesta daytraders första köp. Lär dig hur man köper och säljer valuta i realtid!" >
<link rel="canonical" href="/forex-valuta" />



<link rel="stylesheet" href="{% static 'styleFolder/index.css' %}">
<link rel="stylesheet" href="{% static 'index.css' %}">



<meta property="og:title" content="Handla valuta: kom igång och trada med valuta | Tradecfd.se" />
<meta property="og:url" content="/forex-valuta" />
<meta property="og:description" content="Hur handlar man med valuta? Valutahandel, även kallad Forextrading,
är de flesta daytraders första köp. Lär dig hur man köper och säljer valuta i realtid!">


{% endblock %}
{% load static %}

{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container p-3">
			<div class="row align-items-center">
				<div class="col-sm-8 text-center">
					<h1 style="font-size:30px;">Kryptovaluta</h1>
					<p class="">
						Allt eftersom vi håller på och går över till att bli ett kontantlöst samhälle har kryptovalutorna fått en större genomslagskraft hos allmänheten. Med hjälp av den digitala valutan, som inte är reglerad av någon centralbank eller land, görs transaktioner med hjälp av kryptografiska metoder. Kunden kan aldrig ta ut kryptovalutan för att stoppa den i sin plånbok.
					</p>
				</div>
				<div class="col-sm-4 text-center">
					<img src="{% static 'images/cover-images/kryptovaluta.jpg' %}" class="img-fluid" style="width:320px;" />
				</div>
			</div>
			<hr>
			<div class="mt-5">
				<h3> Populära kryptovalutor </h3>
				<p class="pl-2">
					Det finns idag över 1300 olika kryptovalutor och antalet förväntas stiga. Av dessa 1300 är det endast ca 350 som har ett marknadsvärde på över 10 miljoner $, Cirka 30 har ett värde på över 1 miljard $ och endast 7 har ett värde som överstiger 10 miljarder $.
				</p>
				<ul>
					<li class="mt-2">
						Bitcoin (BTC) grundades av Satoshi Nakamoto och lanserades 2009 och är den mest använda och kändaste av kryptovalutorna. Valutan kom till för att underlätta transaktioner online utan att en tredje part behövde involveras.
					</li>

					<li class="mt-2">
						Ethereums valuta kallas för Ether (ETH) och är den näst största kryptovalutan som grundades av programmeraren Vitalik Buterin med hjälp av crowdfunding 2015.
					</li>
					<li class="mt-2">
						Ripple (XRP) grundades av Ryan Fugger 2012 och är den kryptovaluta som favoriseras av banker.
					</li>
					<li class="mt-2">
						Litecoin (LTC) lanserades 2011 och har den högsta transaktionshastigheten av de virtuella valutorna.
					</li>
					<li class="mt-2">
						Monero (XMR) som togs i bruk 2014 och man använder en särskild kryptering som gör alla transaktionerna 100% säkra som inte går att spåra.
					</li>
				</ul>
			</div>
			<div class="mt-5">
				<h3> Vad påverkar kryptovalutans värde? </h3>
				<p class="pl-2">
					En vanlig valuta påverkas av landets ekonomiska och politiska tillstånd och handelsbalansen, medan tillgång och efterfrågan styr kryptovalutans värde. Efterfrågan ökar allt eftersom fler accepterar kryptovalutan som en betalningsmetod. 
				</p>
				<p class="pl-2">
					CryptoRunner har en stor <a href="https://cryptorunner.com/sv/kryptovaluta">guide om kryptovaluta</a> om du vill lära dig mer.
				</p>
			</div>
			<div class="mt-5">
				<h3> Är kryptovaluta laglig? </h3>
				<p class="pl-2">
					Ja, kryptovalutan är laglig. Men det finns länder som är skeptiska till kryptovaluta och som ogärna vill släppa ifrån sig valutamonopolen. De båda stormakterna USA och Kina har försökt hindra att kryptovalutan ska få fäste i respektive land, men Kina verkar ha svängt om i frågan och planerar att införa sin egen kryptovaluta på försök i en handfull städer. Länder som Japan och Tyskland är positiva till den digitala valutan och vill att den ska ha en formell juridisk status. EU går i tankarna på att utveckla en egen kryptovaluta för att konkurrera med Facebooks initierade Libra. Om EU går vidare med sina planer kommer deras digitala valuta att vara stabil till skillnad från den volatila Bitcoin.
				</p>
			</div>
			<div class="mt-5">
				<h3> Kryptovalutans framtid </h3>
				<p class="pl-2">
					I takt med att fler länder håller på att bli kontantlösa och utvecklingen inom handel med kryptovaluta fortskrider är det inte troligt att länder kommer att förbjuda den virtuella valutan helt. En del av de existerande mindre kryptovalutorna kan dock komma att försvinna medan de större kommer att ha lättare att överleva.
				</p>
			</div>
			<div class="mt-5">
				<h3> Investera i kryptovaluta </h3>
				<p class="pl-2">
					Låt oss först påminna att det finns inga investeringar som är hundraprocent säkra. Alla investeringar har sina risker. Kryptovalutan har en högre risk än till exempel aktier och fonder eftersom kryptovalutamarknaden inte är reglerad av någon bank eller stat. Det som lockar handlare är att det går att göra stora vinster på kryptovalutaspekulationen.
				</p>
			</div>
			<div class="mt-5 text-center">
				<h3> Fördelar med att investera i kryptovaluta </h3>
				<ul class="" >
					<li class="mt-2">
					En investering kan ge en hög avkastning
					</li>
					<li class="mt-2">
						Kryptovalutans värde styrs inte av någon centralbank eller nation utan av efterfrågan.
					</li>
					<li class="mt-2">
						Handel med kryptovaluta sker anonymt där varken köpare eller säljare behöver identifiera sig.
					</li>
				</ul>
			</div>
			<div class="mt-5">
				<h3>Nackdelar med att investera i kryptovaluta</h3>
				<ul>
					<li class="mt-2">
						Kursändringarna kan vara mycket stora.
					</li>
					<li class="mt-2">
						Det är svårt att sätta sig in i hur kryptovalutan är uppbyggd.
					</li>
				</ul>
			</div>
			<div class="mt-5">
				<h3> Cfd-handel med kryptovaluta i Sverige </h3>
				<p class="pl-2">
					Det finns många sätt att handla med kryptovaluta, men det som svenska daytraders föredrar är CFD, som innebär att de satsar på valutans prisförändring. Handlaren satsar på antingen en värdeökning eller en värdesänkning under en kort tid och med hjälp av hävstångseffekten kan en liten värdeskillnad betyda en omfattande vinst eller om det går snett; en stor förlust.
				</p>
			</div>
			<div class="mt-5">
				<h3> Ska vinster från kryptovalutahandel beskattas?</h3>
				<p class="pl-2">
					Ja, alla vinster gjorda med kryptovalutahandel ska deklareras på en K4-blankett som finns på skatteverket, men kom ihåg att även förluster får dras av.
				</p>
			</div>
		</div>
		<div class="side-container d-flex flex-column justify-content-between">
			{% include 'components/sidebar.html' %}
		</div>	
	</div>
</div>

<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>

{% endblock %}







	
				
				

					
		
		