{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'css/components/footer.css' %}">



<div class="footer-clean">
        <footer>
            <div class="container text-center mt-3">
                <h4 style="color:red;"> Riskvarning ⚠️</h4>
                <p>
                	Handel med finansiella instrument innebär en hög risk och kan leda till att hela det insatta kapitalet förloras och är därför inte lämplig för alla investerare. Investera aldrig pengar som du inte har råd att förlora. Innan du bestämmer dig för att handla bör du vara medveten om alla risker som är förknippade med handel vare sig det är CFD, valutor, kryptovalutor, råvaror, index m.m.
                </p>
                <p>
                	Ha alltid följande två regler i åtanke: Satsa aldrig mer pengar än du har råd att avvara! Överskrid inte summan som du har bestämt att du kan satsa!
                </p>
                <p>
                	<b>Viktigt:</b> Den här webbplatsen ger endast information om den finansiella marknaden och hur den fungerar. Informationen ska inte betraktas som råd gällande investeringar.
                </p>
                <p>
                	<b>Riskinformation:</b> Handel med finansiella instrument som CFD-Handel kommer med hög risk. Värdet kan både öka och minska och du kan förlora hela ditt investerade belopp.
                </p>
                
                <div class="mt-3">
                    <h3>Kontakt</h3>
                    <ul>
                        <li>
                            <p>Email: </br>jonas.lotter@outlook.com</p>
                            <p class="copyright">Copyright © 2020 TradeCfd.se </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
